label {
	cursor: pointer;
}

$form-width: 350px;

input,
textarea {
	width: $form-width;
	padding: 3px;
}

.preview {
	max-width: $form-width;
	max-height: $form-width;
}

.area-code,
.phnum {
	text-align: center;
}

.area-code {
	width: $form-width / 4;
}

.phnum {
	width: $form-width / 2.75;
}

.at {
	position: absolute;
	padding-left: 5px;
	padding-top: 5px;
	color: #666;
}

.at + input {
	padding-left: 20px;
}

.portfolio-item {
	padding: 10px 0;
}

$portfolio-lwidth: 85px;
$portfolio-lpadding-right: 5px;
$portfolio-label: $portfolio-lwidth + $portfolio-lpadding-right;

.portfolio-form-group {
	input,
	textarea {
		width: calc(90% - 90px); // $portfolio-label not workiing with gulp-sass
		margin-bottom: 5px;
	}
}

.portfolio-control-label {
	vertical-align: top;
	text-align: right;
	width: $portfolio-lwidth;
	padding-right: $portfolio-lpadding-right;
}

#portfolio-link-href {
	margin-left: $portfolio-label - 1;
}

.portfolio-preview {
	img {
		padding-right: 10px;
	}

	.portfolio-description {
		margin-bottom: 10px;
	}

	a {
		margin-left: calc(33.33333333% + 15px); // col-sm-4
	}
}
.nav-tabs {
	> li {

		&:hover > span {
			display: inline-block;
		}

		> span {
			display:none;
			cursor:pointer;
			position:absolute;
			right: 7px;
			top: 10px;
			color: red;
		}
	}
}

.active {
	display: none;
}